body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(https://wallpaperaccess.com/full/1196472.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}
.container {
    max-width:100%;
    display:flex;
    box-sizing: border-box;
    border-radius:5px;
}
.image-container {
    position: absolute;
    top: 50px;
    right: 90px;
  }
form {
    height:80%;
    width:50%;
    margin-top:80px;
    margin-bottom:80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.name-container{
    max-width:100%;
    display: flex;
    justify-content: space-between;
    width: 200%;
    border-radius:5px;
}

.check{
    display: flex;
    width:5%;
    text-align:justify;
}
input[type=checkbox] { 
    vertical-align:middle; 
    position: relative; 
    bottom: 1px; 
    margin-right: 5px;
} 
  
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
h3{
    font-family: Arial;
    text-align:center;
    color:rgb(45, 128, 205);
    font-weight:bold;
}

#firstName,
#lastName,
#username,
#password,
#email,
#dob,
#gender,
#country,
#religion,
#community{
            width:32%; /* Adjust the width as needed */
}
label {
    display: block;
    margin-bottom: 10px;
}

input {
    width:35%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="checkbox"]
{
    margin-right:5px;
}
.agree{
    display: flex;
}
select{
    width:50%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.otp{
    height:30px;
    margin-bottom: 20px;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 50px; 
}

.verify{
    height:38px;
    margin-bottom: 20px;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px; 
}
.required::after {
    content: '*';
    color: red;
  }
.conditional-question {
    display: none;
}

.conditional-question-yes,
.conditional-question-no {
    display: none;
}
* {
    margin: 0;
    padding: 0;
  }
 
 